@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    text-align: center;
    background: #121212;
}

.header {
    padding: 20px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text color */
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    /* header transition */
    transition: background-image 0.5s ease-in-out;
    /* adding dark overlay */
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.header::before {
    content: "";

    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.4);
}
.header * {
    position: relative;
    z-index: 1;
}

/* .divider {
    height: 30px;
    background: #000000;
} */

form {
    padding: 50px;
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform .2s;
    background-color: #26365c;
    color: white;
    text-shadow: 2px 2px 5px black;
}

button:hover {
    transform: translateY(-2px);
}

.results {
    color: white;
    text-shadow: 2px 2px 5px black;
}